<div class="container ">
    <div class="wrapper one">
        <div class="drop-main">
            <div class="c">C</div>
            <div class="a">a</div>
            <div class="r">r</div>
            <div class="t">t</div>
            &nbsp;
            <div class="e">E</div>
            <div class="t">m</div>
            <div class="r">p</div>
            <div class="a">t</div>
            <div class="c">y</div>
            &nbsp;
            <div class="s">!</div>
        </div>
    </div>
    <div>
    <video src="https://cdnl.iconscout.com/lottie/premium/preview-watermark/basket-5634723-4707755.mp4" autoplay="autoplay"
        muted="muted" loop="loop" playsinline="" type="video/mp4"></video>
    </div>
        <button type="button" class="text-right btn ">Shop Now</button>
</div>
