<div class="container">
    <div class="card col-md-12" *ngFor="let product of wishList ">
        <img [src]="product.image" class="card-img-top " alt="product">
        <div class="card-body">
            <h6 class="card-title">{{product.title}}</h6>
            <p class="card-text">{{product.category}}</p>
            <div class="product-properties align-items-center">
                <span class="product-price">
                    <i class="fa-sharp fa-solid fa-indian-rupee-sign"></i> <b>{{ product.price}}</b>
                </span>
                <span class="wish">
                    <span (click)="deleteWishlist(product)" class="delete"> <i class="fa-sharp fa-solid fa-trash "></i></span>
                </span>
                <span class="cart">
                    <i class="fa-solid fa-cart-plus"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="container1" *ngIf="wishList.length==0">
        <div class="wrapper one">
            <div class="drop-main">
                <div class="c">C</div>
                <div class="a">a</div>
                <div class="r">r</div>
                <div class="t">t</div>
                &nbsp;
                <div class="e">E</div>
                <div class="t">m</div>
                <div class="r">p</div>
                <div class="a">t</div>
                <div class="c">y</div>
                &nbsp;
                <div class="s">!</div>
            </div>
        </div>
        <div>
            <video src="https://cdnl.iconscout.com/lottie/premium/preview-watermark/basket-5634723-4707755.mp4"
                autoplay="autoplay" muted="muted" loop="loop" playsinline="" type="video/mp4"></video>
        </div>
        <button type="button" class=" btn text-center " routerLink="/products">Shop Now</button>
    </div>
</div>