.card{
   
    margin: 15px;
    width: 250px;
    height: 350px;

}
.container{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 160px;
    height: 170px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
   
}


.cart {
    right: 25px;
    font-size: x-large;
    color: #0d9f03;
    text-shadow: 2px 4px 4px rgba(4, 19, 9, 0.4);
    position: absolute;
    object-fit: contain;
    margin-top: 5px;

}

.delete {
    right: 65px;
    font-size: x-large;
    color: #d10e03;
    text-shadow: 2px 4px 4px rgba(4, 19, 9, 0.4);
    position: absolute;
    object-fit: contain;
    margin-top: 5px;
}

.delete :hover {
    color: #ab0202;
    transition: 0.4s;
}

.cart :hover {
    color: #0a7902;
    transition: 0.4s;

}

.delete :active {
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    font-size: xx-large;
    transition: 0.3s;
}

.cart :active {
    font-size: xx-large;
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    transition: 0.3s;

}

/*Empty cart */
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }


video {
    width: 25%;
    height: auto;
    margin-left: 38%;
   
    
}

.btn {
    background-color: #e6a14e;
    margin: 5px;


}

.wrapper.one {
    margin: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.drop-main {
    display: flex;
    font-size: 2rem;
    margin: 1.5rem;
    justify-content: center;
    font-family: "Russo One", sans-serif;
}

.c {
    opacity: 0;
    animation: drop 0.4s linear forwards;
    color: #fb8c04;
}

.a {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.2s;
    color: #fba53b;
}

.r {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.4s;
    color: #f8a846;
}

.t {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.6s;
    color: #f7b86c;
}

.e {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.6s;
    color: #f9c88c;
}

.s {
    opacity: 0;
    animation: drop 0.4s linear forwards 0.8s;
    color: #fa2121;
}

@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    50% {
        transform: translateY(0px);
        opacity: 1;
    }

    65% {
        transform: translateY(-17px);
        opacity: 1;
    }

    75% {
        transform: translateY(-22px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}