<div class="container">
    <div class="mycart">
        <div class="col-md-12">
            <h2>
                Your Basket<small>
                    (1 item)
                </small>
            </h2>
        </div>
        <div class="col-md-7 col-xs-12">
            <div class="add_to_cart_i  ">
                <div class="row d-flex ">
                    <div class="col-lg-4 col-lg-4 col-md-2  col-xs-5 bdr_right">
                        <div>
                            <a href="">
                                <span id=""> </span>
                                <div class="item ">
                                    <picture>
                                        <img src="https://image.smythstoys.com/thumbnail/desktop/219735.webp"
                                            class="responsive-image" title="Bluey's Treehouse Playset"
                                            alt="Bluey's Treehouse Playset">
                                    </picture>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                        <div class="col-lg-8 col-md-8 col-md-8 col-xs-7 basket  ">
                            <h4 class="sal_bx_hd">
                                <a href="">
                                    <span class="item-name">Bluey's Treehouse Playset</span>
                                </a>
                                <span class="pull-right add_to_cros">
                                    <button class="btn " id="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </h4>
                            <p class="add_to_cart_ref_cod">
                                Ref:219735</p>
                            <p class="add_to_cart_home_text">
                                <span class="green_chk">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                                Click &amp; Collect
                            </p>
                            <p class="add_to_cart_home_text">
                                <span class="green_chk">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </span>
                                Home Delivery
                            </p>
                            <div class="div-separator2 hidden-sm hidden-xs"></div>
                            <div class="row ">
                                <div class="col-md-2 col-sm-2 font-18 margn_top_10 hidden-xs pad_rt">
                                    <label>
                                        Quantity:</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-7 pad_rt">
                                    <form id=" " class="pull-left " action="0">
                                        <div class="btn-group" role="group"
                                            aria-label="Basic radio toggle button group">
                                            <label  class="btn btn-outline-success btn-sm" for="btnradio1"> - </label>
                                            <input type="text" id="quantity" name="quantity" class="quantity  " value="1"
                                                size="1">
                                            <label class="btn btn-outline-success btn-sm" for="btnradio3"> + </label>
                                        </div>
                                    </form>
                                </div>
                               
                                <div class="col-md-3 col-sm-3 col-xs-5 font-18 margn_top_10 text-right">
                                    <strong>INR 29.99</strong> 
                                </div>  
                                <div class="delete"> <i class="fa-sharp fa-solid fa-trash "></i></div>
                            </div>
                        </div>
                        
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-7  col-xs-12">
            <div class="detail_right">
                <div class="mycart">
                    <div>
                        <div class="row ">
                            <form action="" class="d-flex">
                                <div class="col-xs-6 option-selected ">
                                    <div class="control-group ">
                                        <label _ngcontent-alm-c37="" class="control control--radio"> Home Delivery<input
                                                _ngcontent-alm-c37="" name="deliveryType" type="radio" id="" checked=""
                                                value="homeDelivery" data-productavailable="" onclick="">
                                            <div _ngcontent-alm-c37="" class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 option-not-selected ">
                                    <div class="control-group">
                                        <label class="control control--radio no_margn option-clicked">
                                            Cash on Delivery<input name="deliveryType" id="ccradiobutton"
                                                value="clickAndCollect" type="radio" onclick=""
                                                data-label="clickAndCollect">
                                            <div class="control__indicator"></div>
                                        </label>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="dvider_t"></div>
                        <div class=" row">
                            <div class="col-xs-12 col-sm-12 col-md-12 pull-right">
                                <div class="clearfix font-regular">
                                    <span class="pull-left">
                                        <strong>Subtotal:</strong>
                                    </span>
                                    <span class="pull-right">
                                        £29.99</span>
                                </div>
                                <div class="clearfix font-regular">
                                    <span class="pull-left">
                                        <strong>Delivery</strong>
                                    </span>
                                    <span class="pull-right">
                                        £0.00</span>
                                </div>
                                <div class="div-separator2"></div>
                                <div class="clearfix">
                                    <span class="pull-left font-20">
                                        <strong>Total:</strong>
                                    </span>
                                    <span class="pull-right font-20">
                                        <strong> £29.99</strong>
                                    </span>
                                </div>
                                <div class="div-separator2"></div>
                            </div>
                        </div>
                    </div>
                    <button id="checkoutOnCart" class="btn btn-green margn_tp_bt_20 ">
                        Checkout</button>
                </div>

            </div>
        </div>
    </div>