<header>
    <nav class="nav">
        <div class="sideMenu">
            <i class="fa-solid fa-bars " data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling"></i>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="name ">
            <h3>Especia Mart</h3>
        </div>
        <div class="user">
            <i class=" fa-solid fa-basket-shopping"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </nav>
    <div class="search ">
        <form class="form d-flex" role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass me-2 "></i>
        </form>    
        
    </div>
</header>