<pre>
    {{allProducts | json}}
</pre>

<div class="container">
    <div class="allspices">
        <div class="card">
            <div class="card-head">
                <div class="product-detail">
                    <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with
                    high-speed responsiveness
                </div>
            </div>
            <div class="card-body">
                <div class="product-desc">
                    <span class="product-title">
                        Hartbee<b>spoort</b>
                        <span class="badge">
                            New
                        </span>
                    </span>
                    <span class="product-caption">
                        Basket Ball Collection
                    </span>
                    <span class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                    </span>
                </div>
                <div class="product-properties">
                    <span class="product-price">
                        INR <b> 23,453</b>
                    </span>
                    <span class="wish">
                        <i class="fa-sharp fa-solid fa-heart-circle-plus"></i>
                    </span>
                    <span class="cart">
                        <i class="fa-solid fa-cart-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!---- empty cart -->
    <div class="container1  ">
        <div class="wrapper one">
            <div class="drop-main">
                <div class="c">C</div>
                <div class="a">a</div>
                <div class="r">r</div>
                <div class="t">t</div>
                &nbsp;
                <div class="e">E</div>
                <div class="t">m</div>
                <div class="r">p</div>
                <div class="a">t</div>
                <div class="c">y</div>
                &nbsp;
                <div class="s">!</div>
            </div>
        </div>
        <div>
            <video src="https://cdnl.iconscout.com/lottie/premium/preview-watermark/basket-5634723-4707755.mp4"
                autoplay="autoplay" muted="muted" loop="loop" playsinline="" type="video/mp4"></video>
        </div>
        <button type="button" class="text-right btn ">Shop Now</button>
    </div>
</div>